#target{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
header{
    font-size: 2em;
}
#target::selection{
    user-select: none;
}
html{
    background: black !important;
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px
}
body{
    background: black !important;
    color: white !important;
}
#gamearea{
    background:#a4a6a8;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    max-height: 600px;
    min-height: 600px;
}